<h1 class="p-4">Vos réservations</h1>

<h2 class="p-4">Réservations à confirmer</h2>

<div class="reservation-cards">
    <%@owner_reservations.where(status: "Pending").order("created_at desc").each do |reservation|%>
      <div class="d-flex flex-column align-items-center">

        <div class="card-product">
          <%= cl_image_tag reservation.costume.photo.key, height: 800, width: 600, crop: :fit %>
          <div class="card-product-infos d-flex flex-column">
            <h2><%=reservation.costume.name%></h2>
            <p>Du <%=l(reservation.start_date, format: "%A %-d %b")%> au <%=l(reservation.end_date, format: "%A %-d %b")%></p>
            <p><%=reservation.renter.first_name%> <%=reservation.renter.last_name%> : <%= reservation.comment %></p>
            <p class = "align-self-end"><strong>Total : <%=reservation.total_amount%> €</strong></p>
          </div>
        </div>

        <div class="d-flex justify-content-between m-2">
            <%= link_to "Accepter", accept_owner_reservation_path(reservation), data: {turbo_method: :patch}, class: "btn-home" %>
            <%= link_to "Refuser", decline_owner_reservation_path(reservation), data: {turbo_method: :patch}, class: "btn-home" %>
        </div>

      </div>
    <%end%>
</div>

<h2 class="p-4">Réservations passées</h2>

<div class="reservation-cards">
    <%@owner_reservations.where(status: "Accepted").order("created_at desc").each do |reservation|%>

      <div class="card-category">
        <div class="card-product">
          <%= cl_image_tag reservation.costume.photo.key, height: 800, width: 600, crop: :fit %>
          <div class="card-product-infos d-flex flex-column">
            <h2><%=reservation.costume.name%></h2>
            <p>Du <%=l(reservation.start_date, format: "%A %-d %b")%> au <%=l(reservation.end_date, format: "%A %-d %b")%></p>
            <p><%=reservation.renter.first_name%> <%=reservation.renter.last_name%> : <%= reservation.comment %></p>
            <p class = "align-self-end"><strong>Total : <%=reservation.total_amount%> €</strong></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>

<h2 class="p-4">Réservations refusées</h2>

<div class="reservation-cards">
    <%@owner_reservations.where(status: "Declined").order("created_at desc").each do |reservation|%>
      <div class="card-category">
        <div class="card-product">
          <%= cl_image_tag reservation.costume.photo.key, height: 800, width: 600, crop: :fit %>
          <div class="card-product-infos d-flex flex-column">
            <h2><%=reservation.costume.name%></h2>
            <p>Du <%=l(reservation.start_date, format: "%A %-d %b")%> au <%=l(reservation.end_date, format: "%A %-d %b")%></p>
            <p><%=reservation.renter.first_name%> <%=reservation.renter.last_name%> : <%= reservation.comment %></p>
            <p class = "align-self-end"><strong>Total : <%=reservation.total_amount%> €</strong></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
