<section>
  <div class="container">
    <h1><%= @costume.name %></h1>
      <div class="card-title">
        <div class="card-show-left">
          <%= cl_image_tag(@costume.photo.key, height: 450, width: 250, crop: :fill) %>
        </div>

        <div class="card-show-right">
          <p> Description : <%= @costume.description %> </p>
          <p> Prix/jour : <%= @costume.price_per_day %> € </p>
          <p> Tailles disponibles : <%= @costume.size %> </p>
          <p> Nom du loueur : <%= @costume.owner.first_name %> <%= @costume.owner.last_name %></p>
          <p> Adresse du retrait : <%= @costume.address %></p>

          <%= link_to "Faire une réservation", new_costume_reservation_path(@costume) %>
        </div>
      </div>
  </div>
</section>
