<body class="body-show">
  <h4 class="title-show"><%= @costume.name %></h4>
  <div class="container-show">
    <div class="container-left">
      <div class="photo-show">
        <%= cl_image_tag(@costume.photo.key) %>
      </div>
    </div>

      <div class="container-middle">
        <div class="fiche-produit">
          <p>Fiche produit:</p>
        </div>
        <div class="description-show">
          <p>Description : <strong><%= @costume.description %></strong> </p>
          <p>Prix/jour : <strong><%= @costume.price_per_day %> € </strong></p>
          <p>Tailles disponibles : <strong><%= @costume.size %> </strong></p>
          <p>Adresse du retrait : <strong><%= @costume.address %></strong></p>
          <p>Nom du loueur : <strong><%= @costume.owner.first_name %> <%= @costume.owner.last_name %></strong></p>
        </div>
      </div>

    <div class="container-form mb-4 container-right">
      <h1>Réservé ce costume dès maintenant</h1>
      <%= simple_form_for [@costume, @reservation], html: { novalidate: false } do |f| %>
      <%= f.error_notification %>

        <div class="d-inline date-fields container-right">
          <div class="left">
            <%= f.input :start_date, as: :date, html5: true, required: true %>
          </div>
          <div class="right container-right">
            <%= f.input :end_date, as: :date, html5: true, required: true  %>
          </div>
        </div>

        <%= f.input :address, value: current_user.address, required: true %>
        <%= f.input :comment, hint: "Préciser la taille" %>

        <div class="form-actions text-center container-right">
          <%= f.submit "Réserver", class: "btn btn-primary btn-show" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
