<div class="container">
  <div class="mb-4">
    <h1>Vous avez sélectionné <%=@costume.name%>, excellent choix !</h1>
    <h2>Le propriétaire va maintenant examiner votre demande</h2>
  </div>

  <div class="confirmation-grid">

    <div class="confirmation-grid-one">
      <%= cl_image_tag @costume.photo.key, height: 800, width: 600, crop: :fit %>
    </div>

    <div class="confirmation-grid-two d-flex flex-column justify-content-around">

      <ul class="list-unstyled m-4">
        <div class="align-self-start">
          <li class="p-4">
            <i class="fa-solid fa-calendar-days fa-2xl"></i>
            <%=l(@reservation.start_date, format: "%A %-d %b")%>
            <i class="fa-solid fa-calendar-days fa-2xl"></i>
            <%=l(@reservation.end_date, format: "%A %-d %b")%>
          </li>
        </div>
        <li class="p-4">
          <%=@costume.description%>
        </li>
        <li class="p-4">
          <%if @current_user.address != ""%>
            <i class="fa-solid fa-location-arrow fa-2xl"></i>
            <%=@current_user.address%>
          <%end%>
        </li>
        <li class="p-4">
          <i class="fa-solid fa-note-sticky fa-2xl"></i>
          <%=@reservation.comment%>
        </li>


      </ul>

      <div class= "align-self-center">
        <h2><strong>Total</strong> <%=@reservation.total_amount%><i class="fa-solid fa-euro-sign"></i></h2>
      </div>

    </div>
  </div>
</div>
